<div class="wrapper component-productlist">
    <div class="row">
        <div class="col-lg-12"><h2>{$title}</h2></div>
    </div>
    <div class="row">
        {loop="products"}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a class="product-card" {if="$value.link"}href="{$value.link}"{/if}>
                {if="$value.image"}<div class="img"><img src="{$value.image}" /></div>{/if}
                <div class="info">
                    <h3>{$value.title}</h3>
                    {if="$value.description"}<p>{$value.description}</p>{/if}
                </div>
                <div class="actions">
                    {$value.add_to_cart}
                </div>
            </a>
        </div>
        {/loop}
    </div>
</div>