<div class="wrapper product-detail">
    <div class="row">
        <div class="col-lg-6">
            <div class="image"><img src="{$image}" /></div>
        </div>
        <div class="col-lg-6 infos">
            <div>
                <h1>{$title}</h1>
                <p>{$desc}</p>
            </div>
            <div class="price-info">
                <small>{$price_label}</small>
                <p class="price">{$price}</p>
            </div>
            <div>
                {$add_to_cart}
            </div>
        </div>
    </div>
    {$builder}
</div>